line-height = 1.6em
line-height-title = 1.1em

color-default = #383838

.article-wrap
    float: left
    width: 700px

.article
    margin-top: 30px
    padding: 0 20px
    background: #fff
    &:first-child
        margin-top: 0

.article-inner
    overflow: hidden

.article-title
    margin-bottom: 0
    font-size: 32px
    color: #4e8a4e
    a
        display: block
        color: inherit
        text-decoration: none
        &:hover
            text-decoration: underline

.article-meta
    .article-date
        margin-top: 5px
        font-size: 14px
        color: #7e7e7e

.article-entry
    color: color-default
    font-size: 15px
    p, table
        line-height: line-height
        margin: line-height 0
    h1, h2, h3, h4, h5, h6
        font-weight: bold
    h1, h2, h3, h4, h5, h6
        line-height: line-height-title
        margin: line-height-title 0
    ul, ol, dl
        margin-top: line-height
        margin-bottom: line-height
    img
        max-width: 100%
        height: auto
        display: block
        margin: auto
    iframe
        border: none
    table
        width: 100%
        border-collapse: collapse
        border-spacing: 0
    th
        font-weight: bold
        border-bottom: 3px solid #ddd
        padding-bottom: 0.5em
    td
        border-bottom: 1px solid #ddd
        padding: 10px 0
    blockquote
        font-family: font-serif
        font-size: 1.4em
        margin: line-height 20px
        text-align: center
        footer
            font-size: font-size
            margin: line-height 0
            font-family: font-sans
            cite
                &:before
                    content: "—"
                    padding: 0 0.5em

.article-footer
    padding: 25px
    text-align: center
    .article-more-link
        color: #adbdb7
        font-size: 25px
        &:hover
            color: #69A86B

.article-gallery
    background: #000
    position: relative

.article-gallery-photos
    position: relative
    overflow: hidden

.article-gallery-img
    display: none
    max-width: 100%
    &:first-child
        display: block
    &.loaded
        position: absolute
        display: block
    img
        display: block
        max-width: 100%
        margin: 0 auto
