#header .center
    position: relative
    padding: 50px 0
    height: 200px

    .cloud
        position: absolute
        top: 45px
        left: 0
        width: 250px
        height: 151px

        path
            fill: rgba(255, 255, 255, .6)
            stroke: rgb(56, 56, 56)
            stroke-width: 0

    .balloons
        position: absolute
        z-index: 1
        top: 60px
        left: 0

    .main
        position: absolute
        z-index: 2
        top: 70px
        left: 140px

        .title
            color: #217b59
            font-size: 36px

        .subtitle
            color: #7da496
            font-weight: normal
            font-size: 20px
