html {
	background: #fcf7ee;
	font-family: 'Microsoft Yahei', 'Roboto', Helvetica, sans-serif;
	letter-spacing: .5px;
}

p {
	text-align: justify;
	word-break: break-word;
}

#site {
	border-bottom: 1px solid #dfdfdf;
	padding: 50px 0;
	position: relative;
}

#site .favicon {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	display: block;
	height: 400px;
	margin: auto;
	opacity: .85;
	padding: 50px 50px 50px 0;
	transition: opacity, box-shadow ease .3s;
	width: 450px;
}

#site .favicon:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	opacity: 1;
}

#site .favicon img {
	display: block;
	height: 100%;
	width: 100%;
}

#site .title {
	left: 50%;
	margin-left: -111px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 300px;
}

#site .title h1 {
	color: #0092CA;
	font-size: 54px;
}

#site .title h2 {
	color: #7C9AA5;
	font-weight: normal;
}

#primary {
	background: #FAFAFA;
	padding: 1px;
}

#primary > .center {
	margin: auto;
	max-width: 940px;
}

#contact {
	border-top: 1px solid #dfdfdf;
	padding: 20px 0;
}

#contact .copyright {
	color: #979797;
	font-size: 14px;
	line-height: 3;
	text-align: center;
}

@media screen and (max-width: 640px) {
	#site {
		overflow: hidden;
		padding: 20px 0;
	}

	#site .favicon {
		background: inherit;
		box-shadow: none;
		float: left;
		height: 80px;
		margin: 0;
		padding: 0;
		width: 80px;
	}

	#site .favicon img {
		height: auto;
	}

	#site .title {
		left: inherit;
		margin-left: 0;
		position: inherit;
		top: inherit;
		width: auto;
	}

	#site .title h1 {
		font-size: 30px;
		margin: 10px 0;
	}

	#site .title h2 {
		font-size: 18px;
		margin: 10px 0;
	}
}