body {
  background: $color-background;
  color: $color-font;
  margin: auto;
  max-width: $wide-width;
  font: {
    family: $font-default;
    size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
  }
}

.inner {
  display: flex;
  margin: 0 auto;
  .f-left {
    flex: 1;
  }
  .f-right {
    width: 270px;
  }
}

#main-col {
  margin-right: 30px;
}

@media screen and (max-width: $wide-width + 60) {
  body {
    margin: 0 30px;
  }
}

@media screen and (max-width: $normal-width) {
  .inner {
    display: inherit;
    .f-right {
      width: auto;
    }
  }
  #main-col {
    margin-right: 0;
  }
}

@media screen and (max-width: $phone-width) {
  body {
    margin: 0 10px;
  }
}