.archive-title {
  color: $color-meta;
  font-weight: normal;
  &::before {
    padding-right: 15px;
    content: '\f073';
    font-family: $font-icon;
  }
  &.tag {
    &::before {
      content: '\f02b';
    }
  }
  &.category {
    &::before {
      content: '\f07b';
    }
  }
}