#pagination {
	a {
		display: block;
		margin-bottom: 50px;
		padding: 5px 10px;
		background: $color-border;
		color: $color-meta;
		&:hover {
			background: $color-link;
			color: #fff;
			text-decoration: none;
		}
	}
	.prev {
		&::before {
			padding-right: 10px;
			content: '\f053';
			font-family: $font-icon;
		}
	}
	.next {
		&::after {
			padding-left: 10px;
			content: '\f054';
			font-family: $font-icon;
		}
	}
}