#pagination {
	a {
		background: $color-border;
		color: $color-meta;
		display: block;
		font-family: $font-title;
		margin-bottom: 50px;
		padding: 5px 10px;
		text-shadow: 0 0 1px #fff;
		&::hover {
			background: $color-link;
			color: #fff;
			text-decoration: none;
			text-shadow: none;
		}
	}
	.prev {
		&::before {
			content: '\f053';
			font-family: $font-icon;
			padding-right: 10px;
		}
	}
	.next {
		&::after {
			content: '\f054';
			font-family: $font-icon;
			padding-left: 10px;
		}
	}
}