@import "normalize.css"

html
    background: #c5dfc5
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

html, body
    min-height: 100%

a
    color: #4e8a4e
    text-decoration: none
    transition: .1s linear all;
    &:hover
        text-decoration: underline

#main, .center
    width: 980px
    margin: auto
    &::after
        content: ''
        overflow: hidden
        display: block
        height: 0
        clear: both

@import "_partial/header"
@import "_partial/footer"
@import "_partial/article"
@import "_partial/highlight"
