<footer id="footer">
    <div class="center">
        &copy; <script>document.write(new Date().getFullYear());</script> by Jason Tung. Proundly created with <a href="http://hexo.io/" target="_blank">hexo</a>
    </div>
</footer>
