<header id="header">
    <div class="center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="cloud">
            <g transform="translate(0,0)">
                <path d="M246.302304 106.751372c-2.66218 -18.819397,-17.734412 -30.703953,-35.387379 -32.791771c0.146601 -1.813739,0.219547 -3.652265,0.219547 -5.506372C211.133764 30.648004,180.485052 0,142.676994 0c-29.150129 0,-54.043178 18.223788,-63.916404 43.895874c-11.042488 -4.961754,-23.679169 -6.446173,-35.994319 -3.469545C17.953958 46.422785,0 69.320084,0 94.827156c0 33.168541,27.738657 55.963149,59.396576 55.963149h146.267644C229.570017 150.790305,249.834173 131.681956,246.302304 106.751372z"></path>
            </g>
        </svg>
        <img src="/images/balloons.png" width="115" class="balloons"/>
        <div class="main">
            <h1 class="title"><%= config.title %></h1>
            <h2 class="subtitle"><%= config.subtitle %></h2>
        </div>
    </div>
</header>
